@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--clr-almost-blk: #000814;
	--clr-dark-nvy: #001D3D;
	--clr-navy: #003566;
	--clr-marigold: #FFC300;
	--clr-yellow: #FFD60A;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	background-color: var(--clr-almost-blk); 
	color: #fff;
}

.now-playing-container {
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 15px;
}

.now-playing-movie {
  border: 1px solid #000;
	flex-direction: column;
}

.img-on-scroll {
	border-radius: 5px;
}

.slick-container {
margin: 0 auto;
width: 90%;
}

.slick-prev, .slick-next {
z-index: 1;
}

.slick-prev {
left: 0;
}

.slick-next {
right: 0;
}

.slick-dots {
	color: #fff;
}

.slick-slide {
	margin-right: 10px;
}

.movie-on-scroll {
	gap: 10px;
}


	/* img.movie-poster {
		border-radius: 8px;
		aspect-ratio: 300/450;
		width: 100%;
		object-fit: cover;
} */





